h1 HiFi5e

form#fi5e(method='post')
  fieldset
    legend Today I...
    ul
      li
        div#one.star 
        input#one.thing(size='30',value=user.one)
      li
        div#two.star 
        input#two.thing(size='30',value=user.two)
      li
        div#three.star 
        input#three.thing(size='30',value=user.three)
      li
        div#four.star 
        input#four.thing(size='30',value=user.four)
      li
        div#five.star 
        input#five.thing(size='30',value=user.five)
        
script
  $(document).ready(function() {
    $(".star").toggle(
      function () {
        var star = $(this);
        $.post('/star', { star: $(this).attr('id'), on: true }, function() {
          star.css({"background-image":"url('/static/star.svg')"});
        });
      },
      function () {
        var star = $(this);
        $.post('/star', { star: $(this).attr('id'), on: false }, function() {
          star.css({"background-image":"url('/static/star-gray.svg')"});
        });
      }
    );
    
    $(".thing").blur(
      function() {
        $.post('/thing', { thing: $(this).attr('id'), value: $(this).val() });
      });
  });
        