h1 HiFi5e

form#fi5e(method='post')
  fieldset
    legend Today I...
    ul
      li
        div#one.star(class=user.star_one) 
        input#one.thing(size='30',value=user.one)
      li
        div#two.star(class=user.star_two) 
        input#two.thing(size='30',value=user.two)
      li
        div#three.star(class=user.star_three) 
        input#three.thing(size='30',value=user.three)
      li
        div#four.star(class=user.star_four) 
        input#four.thing(size='30',value=user.four)
      li
        div#five.star(class=user.star_five) 
        input#five.thing(size='30',value=user.five)

div#calendar
  
script
  $(document).ready(function() {
    $(".star").click(function() {
      var star = $(this);
      var was_on = star.hasClass('on');

      $.post('/star', { star: $(this).attr('id'), on: !was_on }, function() {
        if(was_on) {
          star.removeClass('on');
        } else {
          star.addClass('on');
        }
      });
    });
    
    $(".thing").blur(
      function() {
        $.post('/thing', { thing: $(this).attr('id'), value: $(this).val() });
      });
      
    $("#calendar").calendarWidget({
      month: (new Date()).getMonth(),
      year: (new Date()).getFullYear()	  
    });
    
      $('#calendar .day5').append('<div class="tiny star on">');
  });


  != "<script type='text/javascript'>"
  != "  $(document).ready(function() {"
  - each rating, day in user.history
    !="    for(var i = 0; i < " + rating + "; i++) { $('#calendar .day" + day + "').append('<div class=\"tiny star on\">'); }"
  !="  });"
  != "</script>"

